<div [id]="nodeModel.id + '_composerContainer'"  >
	<div [id]="nodeModel.id + '_composerheaderRow'" style="width: 100%; display: flex;justify-content:space-between; padding: 0.25em;background-color: lightsteelblue;">
		<div>
			<fab-text-field [ariaLabel]="'Name'" [styles]="fabTextFieldStyleNoStretch" 
					[errorMessage]="nodeStatus" [value]="nodeModel.queryName" 
					[autoComplete]="'off'"  (onBlur)="removeSpacesFromQueryName($event)" (onChange)="onChangeQueryName($event)"></fab-text-field>
		</div>
		<div style="display:flex;font-size:large;">
			<div style="padding-left: 2px;padding-right: 15px;">
				<fab-dropdown [ariaLabel]="'Render as'" [options]="renderingTypeOptions" (onChange)="onRenderingTypeChange($event)"
				[id]="nodeModel.id + '_renderingType'" [styles]="fabDropdownStyle" [selectedKey] = "nodeModel.renderingType"
				>
				</fab-dropdown>
			</div>
			<div style="padding-left: 2px;padding-right: 15px; padding-top: 4px;">
				<fab-link [disabled]="runButtonDisabled || nodeStatus" (onClick)="previewResults($event)">
					<fab-icon [iconName]="'Play'" ></fab-icon>
				</fab-link>
			</div>
			<div style="padding-left: 2px;padding-right: 15px; padding-top: 4px;">
				<fab-link (onClick)="duplicateNode($event)">
					<fab-icon [iconName]="'Copy'" ></fab-icon>
				</fab-link>
			</div>
			<div style="padding-left: 2px;padding-right: 15px; padding-top: 4px;">
				<fab-link (onClick)="deleteNode($event)">
					<fab-icon [iconName]="'Delete'" ></fab-icon>
				</fab-link>
			</div>
		</div>              
	</div>
	<div>
		<fab-pivot [styles]="pivotStyle" [selectedKey] = "pivotSelectedKey" (onLinkClick) = "changePivotSelectedTab($event)">
			<fab-pivot-item [headerText]="'Query'" [itemKey]="nodeModel.id + '_Query'">
				<div class = "pivotItemContainer">
					<ngx-monaco-editor (onInit)="setMocanoReference($event)" style="height:calc(98%)" [options]="editorOptions"
						[(ngModel)]="nodeModel.code">
					</ngx-monaco-editor>
				</div>
			</fab-pivot-item>
			<fab-pivot-item [headerText]="'Settings'" [itemKey]="nodeModel.id + '_Settings'">
				<div class = "pivotItemContainer" style="padding-left: 10px; height: fit-content;">
					<dynamic-node-settings [isMicrosoftWeb]="isMicrosoftWeb" [dataSourceRequired]="dataSourceRequired" [renderingType]="nodeModel.renderingType" [renderingSettings] = "[]" (renderingSettingsChange)="rsc($event)"></dynamic-node-settings>
				</div>
			</fab-pivot-item>
			<fab-pivot-item [headerText]="'Result'" [itemKey]="nodeModel.id + '_Result'">
				<div>
					<div style = "padding-top: 0.25em;">
						<ng-container *ngIf="state === executionState.success">
							<dynamic-data [diagnosticData]="sampleTestDataset[0]" [startTime]="startTime" [endTime]="endTime">
							</dynamic-data>
						</ng-container>
						<ng-container *ngIf="state === executionState.running">
							<div style="text-align: center;">
								<fab-spinner [label]="runningMessage" [size]="'large'"></fab-spinner>
							</div>
						</ng-container>
						<ng-container *ngIf="state === executionState.default">
							<div style="text-align: center;">
								<span style="color: red; text-align: center;"><b>Click the run button to see query results.</b></span>
							</div>
						</ng-container>
						<ng-container *ngIf="state === executionState.failure">
							<div>
								<span><b style="color: red;">ERROR:</b> Problem executing node {{nodeModel.queryName}}</span>
								<br>
								<span>{{errorMessage}}</span>
							</div>
						</ng-container>
					</div>
				</div>
			</fab-pivot-item>
		</fab-pivot>
	</div>
</div>
