<div style="display: block;">
    <fab-panel [type]="type" [isOpen]="isOpen" [hasCloseButton]="false" [customWidth]="'60%'">
        <div style="margin-left: 10px;">
            <no-code-detector-view [errorMessage]="errorMessage" [state]="state" [detectorNodes]="detectorView"></no-code-detector-view>

        <div style="margin-top: 66px; display: flex;">
            <div style="padding-right: 5px;">
                <fab-primary-button [disabled]="state != executionState.success" (onClick)="publishDetector()">Publish</fab-primary-button>
            </div>
            <div style="padding-right: 5px;">
                <fab-default-button (onClick)="closePanel()">Edit</fab-default-button>
            </div>
        </div>
        </div>
    </fab-panel>
</div>